.footer-container {
  background: #282828;
  width: 100%;
  display: flex;
  justify-content: center;

  .footer {
    width: 1280px;
    height: 117px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo img {
      width: 165px;
      height: 32px;
    }

    .copyright {
      opacity: 0.5;
      font-size: 14px;
      color: #FFFFFF;
      text-align: right;
    }
  }
}
